.meal-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    margin-top: 2%;
    border-top: 1px solid black;

   

}

.meal-container p{
    text-align: left;
    margin: 0 5%;

}

.delete-button{
    margin: 1%;
    

    width: 2.8rem;
    height: 2.8rem;

    border: 1px solid black;
    border-radius: 50%;
    font-size: 2rem;
    background-color: #DF2E38;
}

.delete-button svg{
    display: block;
    width: 1.5rem;
    height: 1.5rem;

    padding-right: 3%;
    margin: auto;
}

@media all and (max-width: 768px){
    .delete-button svg{
        padding-right: 1%;
    }
    
    
}


@media all and (max-width: 425px){
    
    .meal-container{
        margin-top: 6%;

    }
    
    .meal-container p{
       margin: 3% 0 0 0;
    }

    .delete-button{
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
        

        margin-top: 4%;
    }
    
    .delete-button svg{
        width: 1.2rem;
        height: 1.2rem;
        
    }
}