#mealPlan-container{
    margin: 0 13% 0 15%;
    
    flex: 1;

}


.mealPlan-list div{
    opacity: 0.5;
    
}

.mealPlan-list div:hover{
    opacity: 1;
    transition: all 0.5s ease;
}

.mealPlan-container-high-protein{
    background-image: url("../../media/high-protein.jpg");
    background-position: center;
    background-size: cover;
}

.mealPlan-container-intermitent{
    background-image: url("../../media/bolognesa.jpg");
    background-position: center;
    background-size: cover;
}

.mealPlan-container-balanced{
    background-image: url("../../media/balanced2.jpg");
    background-position: center;
    background-size: cover;
}

.my-modal-container{
    
    padding: 0;

}

.my-modal-container > *:not(.meal-aliments-list, .meal-aliments){
    padding: 1rem;
}

.modal-body{
    padding: 0;

}

.mealPlan-container h2{
    padding-bottom: 2%;
    
    
    font-weight: bold;
    color: black;
}

.mealPlan-list div{
    margin-bottom: 0.5rem;
    
    border-radius: 20px;
    outline: 0;
    
    cursor: pointer;
}

.mealPlan-list-text{
    margin: 0;
    padding: 2% 4%;
    
    text-align: start;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

}

.modal-body div{
   
    
}

.modal-body div h2{
    text-align: start;

}

.modal-body div p{
    text-align: start;

}

.meal-aliments{
    text-align: start;

}

.meal-aliments h3{
    color: black;
    text-align: start;
    
    padding: 4% 1rem;
    border-top: 1px solid black;
    
}

.meal-aliments-list{
    background-image: linear-gradient(to bottom, white, #9DC08B);
    width: 100%;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
}

.meal-aliments-list li{
    margin: 1rem;
}

.modal-footer{
    background-color: #9DC08B;
    border-top: 1px solid black;
}




@media all and (max-width: 1024px){
    .mealPlan-container{
        margin: 0 7%;

    }


}


@media all and (max-width: 768px){

    .mealPlan-container{
        display: none;

    }

    .mealPlan-list div{
        opacity: 1;
    }
}


@media all and (max-width: 425px){

    .mealPlan-container{
        display: none;

    }


}