.mealPlan-container{
    margin: 0 13% 0 15%;
    
    flex: 1;

}

.mealPlan-list div{
    opacity: 0.5;
    
}

.mealPlan-list div:hover{
    opacity: 1;
    transition: all 0.5s ease;
}

.mealPlan-container-high-protein{
    background-image: url("../../media/high-protein.jpg");
    background-position: center;
    background-size: cover;
}

.mealPlan-container-intermitent{
    background-image: url("../../media/bolognesa.jpg");
    background-position: center;
    background-size: cover;
}

.mealPlan-container-balanced{
    background-image: url("../../media/balanced2.jpg");
    background-position: center;
    background-size: cover;
}

.meal-description-high-protein:not(h2):not(p){
    background-image: url("../../media/high-protein.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.meal-description-intermitent{

}

.meal-description-balanced{

}

.mealPlan-container h2{
    padding-bottom: 2%;
    
    
    font-weight: bold;
    color: black;
}

.mealPlan-list div{
    margin-bottom: 0.5rem;
    
    border: 1px solid black;
    border-radius: 20px;

    cursor: pointer;
    
}

.mealPlan-list-text{
    margin: 0;
    padding: 2% 4%;
    
    text-align: start;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

}

.modal-body div{
   
    
}

.modal-body div h2{
    text-align: start;

}

.modal-body div p{
    text-align: start;

}

.meal-aliments{
    text-align: start;


}

.meal-aliments h3{
    color: black;
    text-align: start;
    
    padding: 5% 0;
    border-top: 1px solid black;
    
}

@media all and (max-width: 1024px){
    .mealPlan-container{
        margin: 0 7%;

    }


}


@media all and (max-width: 768px){

    .mealPlan-container{
        display: none;

    }


}


@media all and (max-width: 425px){

    .mealPlan-container{
        display: none;

    }


}