#acordion{
    margin: 5% 20% 0 20%;

}

#acordion-header button{
    


}

.cards-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 50vh;
    margin: 10% 10%;
}

.card-meal{
    height: 50%;
    width: 12%;
    
    border: 1px grey solid;
    border-radius: 4%;
    outline: none;

}


h3{
    margin-top: 8%;
    color: white;
}

button{
    margin-top: 40%;
    padding: 3% 6%;
    border-radius: 16%;
    border: 1px solid white;
}

.card-content-inactive{
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;

}

.card-content-active{
    margin-top: 37%;
    height: 300px;
    transition: all 0.5s ease;
    background-color: red;
    
    border: 1px grey solid;
    border-radius: 4%;

} 



.meal-data{
    list-style-type: none;
    


}

.card-collapse{

    
}