#my-acordion{
    margin: 10% 12%;

    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-border-width: 0;

    --bs-accordion-bg: #40513B;
}

.acordion-body-bg{
    /* background-color: #9DC08B; */
    min-height: 3rem;

}

#my-acordion .accordion-item{
    border-radius: 1rem;
}


#acordion-element{
    margin-top: 1.5rem;
    
    --bs-accordion-color: white;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: 0;
    --bs-accordion-active-bg: white;
    
}

#acordion-header{
    border-radius: 1rem;
}

#acordion-header button{
    border-radius: 1rem;
    height: 5rem;
    color: white;
    
}

#acordion-header button:focus{
    border: 0;
   
}


#acordion-header .accordion-button:not(.collapsed){
    color: black;

}


@media all and (max-width: 1024px){
    #my-acordion{
        margin: 7%;


    }

    #acordion-header button{
        height: 4rem;
    
    }


    .acordion-body-bg{
        min-height: 2rem;
        padding: 3% 2%;
    }
}

@media all and (max-width: 425px){
    #my-acordion{
        margin: 30% 4%;
        min-height: 70vh;
    }


}



























