.graph-section-container{
    display: flex;
    flex-direction: row;
    padding-left: 9%;

}

.macro-list{
    margin: 5% 0 0 11%;
    line-height: 3rem;
}

.macro-list li{
    
    
}


.graphic-container{
    max-height: 300px;
    padding: 10px;
    margin: 0 5%;;
    
}