.section-divisor{
    padding-top: 8%;
    display: flex;
    
    flex-direction: row;
    background-color: white;

}

.macro-list{
    margin: 5% 0 0 13%;
    line-height: 3rem;
}

.macro-list li{
    
    
}


.graphic-container{
    max-height: 300px;
    padding: 10px;
    margin: 0 5%;;
    
}