#nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 8vh;
    background-color: #9DC08B;
    border-bottom: 1px black solid;

}

#nav-container div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    

}

#nav-container div p{
    font-size: 2rem;
    
}

.logo{
    
    
    /* padding-right: 800px; */

}

.nav-list{
  position: static;
}

.nav-list a{
    padding: 15px;

}


@media all and (max-width: 1024px){
    #nav-container{
        height: 13vh;

    }
}

@media all and (max-width: 768px){
    #nav-container{
        height: 9vh;

    }


}