#nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 7vh;
    background-color: #9CFF2E;
    border-bottom: 1px black solid;

}

#nav-container div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    

}

.logo{
    
    
    /* padding-right: 800px; */

}

.nav-list{
  position: static;
}

.nav-list a{
    padding: 15px;

}